a {color:#333; text-decoration:none}
a:hover {color:#ccc; text-decoration:none}

#mask {
height:60px !important;
position:absolute;
left:0;
top:0;
z-index:9000;
background-color:#000;
display:none;

}

#boxes .window {
position:fixed;
left:0;
top:0;
width:440px;
height:400px;
display:none;
z-index:9999;
padding:20px;
}

#boxes #dialog {
width:375px; 
height:203px;
padding:10px;
	background-color:#ffffff;
}

#boxes #dialog1 {
width:375px; 
height:203px;
}

#dialog1 .d-header {
background:url(images/login-header.png) no-repeat 0 0 transparent; 
background-color:#D8D8D8
width:375px; 
height:150px;
}

#dialog1 .d-header input {
position:relative;
top:60px;
left:100px;
border:3px solid #cccccc;
height:22px;
width:200px;
padding:5px;
margin-top:4px;
}

#boxes #dialog2 {
background:url(images/notice.png) no-repeat 0 0 transparent; 
width:326px; 
height:229px;
padding:50px 0 20px 25px;
}
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
body {
  font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}

#list_items_table{
  font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
}

.list_asignations_table{
  font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
}

#new_item_table{
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
  font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 10px 10px 10px 10px;
  color: #333;
  background-color: #fff;
}
.container_modal{
  text-align: center;

  -webkit-border-radius: 5px 10px;  /* Safari  */
  -moz-border-radius: 5px 10px;     /* Firefox */
}

h3{
  text-align: center;
}

p{
 text-align: center;
}

#save{
 text-align: center;
 display: center;
}

new_item_form{
             margin:auto 0;
            text-align: center; 
}




