<style>
/* Z-index of #mask must lower than #boxes .window */
#mask {
	position:absolute;
	z-index:9000;
	background-color:#000;
display:none;
}
#boxes .window {
position:fixed;
width:440px;
height:200px;
display:none;
	z-index:9999;
padding:20px;
}
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
width:375px;
height:203px;
}


body {
	font-family:verdana;
	font-size:15px;
}

a {color:#333; text-decoration:none}
a:hover {color:#ccc; text-decoration:none}

#mask {
position:absolute;
left:0;
top:0;
    z-index:9000;
    background-color:#000;
display:none;
}

#boxes .window {
position:fixed;
left:0;
top:0;
width:440px;
height:200px;
display:none;
	z-index:9999;
padding:20px;
}

#boxes #dialog {
width:375px; 
height:203px;
padding:10px;
	background-color:#ffffff;
}

#boxes #dialog1 {
width:375px; 
height:203px;
}

#dialog1 .d-header {
background:url(images/login-header.png) no-repeat 0 0 transparent; 
width:375px; 
height:150px;
}

#dialog1 .d-header input {
position:relative;
top:60px;
left:100px;
border:3px solid #cccccc;
height:22px;
width:200px;
      font-size:15px;
padding:5px;
	margin-top:4px;
}

#dialog1 .d-blank {
float:left;
background:url(images/login-blank.png) no-repeat 0 0 transparent; 
width:267px; 
height:53px;
}

#dialog1 .d-login {
float:left;
width:108px; 
height:53px;
}

#boxes #dialog2 {
background:url(images/notice.png) no-repeat 0 0 transparent; 
width:326px; 
height:229px;
padding:50px 0 20px 25px;
}
</style>



