<style>

/* Pulse */

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/* Ventana login */
#login
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    height: auto;
    width: 440px;
    margin: 50px 0 0 -230px;
    padding: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          1px 1px   0 rgba(0,   0,   0,   .1),
          3px 3px   0 rgba(255, 255, 255, 1),
          4px 4px   0 rgba(0,   0,   0,   .1),
          6px 6px   0 rgba(255, 255, 255, 1),  
          7px 7px   0 rgba(0,   0,   0,   .1);
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

#login:before
{
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}


/*--------------------*/

fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/

#inputs {
	border:none;
}

#inputs input
{
    background: #f1f1f1 url(../images/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#username
{
    background-position: 5px -2px !important;
}

#password
{
    background-position: 5px -52px !important;
}

#inputs input:focus
{
    background-color: #fff;
    border-color: #40648a;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #40648a inset;
    box-shadow: 0 0 0 1px #40648a inset;
}

/*--------------------*/
#actions
{
    margin: 25px 0 0 0;
    border:none;

}


#actions a
{
    color: #3151A2;    
    float: right;
    line-height: 35px;
    margin-left: 10px;
}


#back
{
    display: block;
    text-align: center;
    position: relative;
    top: 60px;
    color: #999;
}


.error_msg {
	background: #fff6cc url('../images/warning.png') 15px 50% no-repeat;
	  border-radius: 6px;
	  border: 1px solid #ffd100;
	  color: #000;
	  padding: 10px 10px 10px 38px;
	margin-bottom: 30px;

}

.success_msg {
	background: #B5D9AD 15px 50% no-repeat;
	  border-radius: 6px;
	  border: 1px solid #BBDCAC;
	  color: #000;
	  padding: 10px 10px 10px 38px;
	margin-bottom: 30px;
}


/***** fondo para todas ****/

body {
    font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


/****** Toolbar menu principal *************/
#toolbar {
    border: 1px solid #ccc;
    margin-bottom:9px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}


#toolbar_button {
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
    margin-top:0px;
    height: 48px;
    border-top:0px;
    border-bottom: 0px solid #ccc;
    margin-bottom:20px;
    
}

.msgstatus {
	position: relative;
	padding-right: 9px;
	padding-top: 30px;
	float:right;

}


/**** Frame principal ****/

#frame_principal {
	border:0px;
	height:800px !important;
}


/**** Cuadro about *****/
#about {

}
#about img {
	float:right;
}

.texto {
  padding-top:50px;
  width: 10px;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  text-align: center;

}

#about ul {
  float:left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top:20px;
}

#about li {
  font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

#about  li:last-child {
  border: none;
}

#about  li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

#about  li a:hover {
  font-size: 20px;
  background: #f6f6f6;
}


/**** Tabs *****/






/****** Ventana de salir ****/

#exit {

  margin-top:100px;

}

#msg_exit {

  position:absolute;
  display:block;
  margin-left:150px;
  margin-top:10px;
  font: 200 22px/1.5 Helvetica, Verdana, sans-serif;
}
#exit img {
  float:left;
}

#msg_confirm {
  margin-top:120px;
  width:90%;
  position:absolute;
  text-align:center;
}


/**** New item table ****/
#new_item_table {
  text-align: center;
  margin: auto;
}

#new_item_table td {
  text-align: center;
  font-size: 14px;
  padding: 10px 10px 10px 10px;
}

#new_item_table input {
  background: none;
  font-size: 14px;
  width: 175px;
}

#details_table {
font: 200 12px/1.5 Helvetica,Verdana,sans-serif;
  margin: auto;
  width: 98%;
table-layout: fixed;
overflow: hidden;
word-wrap:break-word;
}

#details_table td {
  padding: 5px 5px 5px 5px;
}

#td_dark{
	background-color: rgb(211, 214, 255);
}

#td_medium{
 	background-color: rgb(233, 235, 255);
}

#td_image{
 	text-align: center;
}

#details_table input {
  background: none;
  font-size: 14px;
  width: 275px;
}

#item_table{
  text-align: center;
  margin: auto;
  width: 100%;
}

#item_table td{
  padding: 20px 20px 20px 20px;
}

.list_items_table{
  font: 200 12px/1.5 Helvetica, Verdana, sans-serif;
width: 98% !important;
}


#buttons{
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

#th_short{
	width: 10px !important;
	overflow: hidden;             
  	text-overflow:ellipsis;
}

#th_ops{
	width: 80px !important;
	overflow: hidden;             
  	text-overflow:ellipsis;
}

#th_long{
	overflow: hidden;             
  	text-overflow:ellipsis;
}

.ionTabs__body{
	width: 99%;
}


